:root {
  --bg-blue: #0a0a23;
  --bg-dark: #1b1b32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg-dark);
}

.App {
  text-align: center;
}
.freecodecamp-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
